In [1]:
import pandas as pd

In [10]:
input_csv_path = "../../results_unweighted.csv"
df = pd.read_csv(input_csv_path, encoding='utf-8', header=None)

df.columns = [
    'tweet_id', 
    'user_id', 
    'retweet_user_id', 
    'text', 
    'party',
    'state', 
    'hashtags', 
    'keywords',
    'party_training',
    'index',
    'follows_d',
    'follows_r',
    'prob_d',
    'prob_r',
    'result'
]

df = df.drop(['user_id',
             'text',
             'party',
             'hashtags',
             'keywords',
             'party_training',
             'index',
             'follows_d',
             'follows_r'], axis=1)

# remove low confidence tweets
df1 = df[df['prob_r'] >= 0.45]
df1 = df1[df1['prob_r'] <= 0.55]
df = pd.concat([df,df1]).drop_duplicates(subset=['tweet_id'], keep=False)

df.head()

       tweet_id      retweet_user_id    state    prob_d    prob_r result
0  1.322203e+18                   -1     Ohio  0.964084  0.035916      D
1  1.320856e+18             36528126  Florida  0.000000  1.000000      R
2  1.319783e+18                   -1  Arizona  0.016986  0.983014      R
3  1.318771e+18  1314703570822930432  Florida  0.000000  1.000000      R
4  1.321048e+18                   -1  Florida  0.781481  0.218519      D

In [11]:
def make_prediction(state, df):
    df = df[df['state'] == state]
    
    num_d = df[df.result == 'D'].shape[0]
    num_r = df[df.result == 'R'].shape[0]
    
    print(state)
    print("D: ", num_d)
    print("R: ", num_r)

In [12]:
make_prediction("Arizona", df)

Arizona
D:  14065
R:  30632

In [13]:
make_prediction("Iowa", df)

Iowa
D:  6801
R:  7682

In [14]:
make_prediction("Florida", df)

Florida
D:  66704
R:  72192

In [15]:
make_prediction("Georgia", df)

Georgia
D:  27027
R:  35190

In [16]:
make_prediction("Ohio", df)

Ohio
D:  35308
R:  32585

In [17]:
make_prediction("Texas", df)

Texas
D:  76292
R:  100450

In [18]:
make_prediction("NorthCarolina", df)

NorthCarolina
D:  34580
R:  22445

In [19]:
make_prediction("Hawaii", df)

Hawaii
D:  6632
R:  6475

In [20]:
make_prediction("Oklahoma", df)

Oklahoma
D:  8237
R:  22160

In [21]:
make_prediction("Kansas", df)

Kansas
D:  10396
R:  17225