In [1]:
import pandas as pd

In [2]:
input_csv_path = "../../results_unweighted.csv"
df = pd.read_csv(input_csv_path, encoding='utf-8', header=None)

df.columns = [
    'tweet_id', 
    'user_id', 
    'retweet_user_id', 
    'text', 
    'party',
    'state', 
    'hashtags', 
    'keywords',
    'party_training',
    'index',
    'follows_d',
    'follows_r',
    'prob_d',
    'prob_r',
    'result'
]

df = df.drop(['user_id',
             'text',
             'party',
             'hashtags',
             'keywords',
             'party_training',
             'index',
             'follows_d',
             'follows_r'], axis=1)

# remove low confidence tweets
df1 = df[df['prob_r'] >= 0.45]
df1 = df1[df1['prob_r'] <= 0.55]
df = pd.concat([df,df1]).drop_duplicates(subset=['tweet_id'], keep=False)

# only include posted tweets
df = df[df['retweet_user_id'] == -1]

df.head()

       tweet_id  retweet_user_id    state    prob_d    prob_r result
0  1.322203e+18               -1     Ohio  0.964084  0.035916      D
2  1.319783e+18               -1  Arizona  0.016986  0.983014      R
4  1.321048e+18               -1  Florida  0.781481  0.218519      D
5  1.318296e+18               -1    Texas  1.000000  0.000000      D
9  1.321070e+18               -1  Georgia  0.000000  1.000000      R

In [3]:
def make_prediction(state, df):
    df = df[df['state'] == state]
    
    num_d = df[df.result == 'D'].shape[0]
    num_r = df[df.result == 'R'].shape[0]
    
    print(state)
    print("D: ", num_d)
    print("R: ", num_r)

In [4]:
make_prediction("Arizona", df)

Arizona
D:  8380
R:  6753

In [5]:
make_prediction("Iowa", df)

Iowa
D:  3882
R:  4299

In [6]:
make_prediction("Florida", df)

Florida
D:  27121
R:  26190

In [7]:
make_prediction("Georgia", df)

Georgia
D:  14444
R:  14742

In [8]:
make_prediction("Ohio", df)

Ohio
D:  19490
R:  19467

In [9]:
make_prediction("Texas", df)

Texas
D:  39802
R:  40779

In [10]:
make_prediction("NorthCarolina", df)

NorthCarolina
D:  15453
R:  14087